.button {
        --buttonShape: polygon(7% 0, 100% 0, 93% 100%, 0% 100% );

        grid-column: 6/9;
        grid-row: 3/4;
        justify-self: center;

        height: 50px;
        width: 350px;
        background-color: $darkB;
        clip-path: polygon(--buttonShape);
        -webkit-clip-path: var(--buttonShape);

        color: white;
        font-family: $font-Mont;
        font-size: 18px;
        line-height: 23px;

        border: none;
        box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, .6);

}